In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import matplotlib
# Import the API key.
from config import g_key

## Readfile into DataFrame

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Aksaray,38.3726,34.0254,29.79,38,97,0.72,TR,2021-11-15 01:06:38
1,1,Cap Malheureux,-19.9842,57.6142,76.46,75,93,3.00,MU,2021-11-15 01:06:39
2,2,Bengkulu,-3.8004,102.2655,77.68,82,94,3.49,ID,2021-11-15 01:05:56
3,3,Avarua,-21.2078,-159.7750,78.85,61,75,4.61,CK,2021-11-15 01:06:39
4,4,Joshimath,30.5667,79.5667,45.93,20,0,6.29,IN,2021-11-15 01:06:40

In [3]:
# Get the Data types
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create Vacation Criteria - Input Statements

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Cap Malheureux,-19.9842,57.6142,76.46,75,93,3.00,MU,2021-11-15 01:06:39
2,2,Bengkulu,-3.8004,102.2655,77.68,82,94,3.49,ID,2021-11-15 01:05:56
3,3,Avarua,-21.2078,-159.7750,78.85,61,75,4.61,CK,2021-11-15 01:06:39
14,14,Marsh Harbour,26.5412,-77.0636,77.09,72,100,8.79,BS,2021-11-15 01:06:44
18,18,Kapaa,22.0752,-159.3190,79.12,70,75,3.00,US,2021-11-15 01:06:46
23,23,Contamana,-7.3333,-75.0167,80.55,66,58,3.38,PE,2021-11-15 01:06:48
25,25,Taoudenni,22.6783,-3.9836,76.08,28,9,6.08,ML,2021-11-15 01:06:48
26,26,Lorengau,-2.0226,147.2712,83.79,72,96,6.20,PG,2021-11-15 01:06:49
27,27,Atuona,-9.8000,-139.0333,78.60,70,6,13.13,PF,2021-11-15 01:06:49
29,29,Hilo,19.7297,-155.0900,80.33,84,20,10.36,US,2021-11-15 01:06:50

In [12]:
preferred_cities_df.count()

City_ID       157
City          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
Country       155
Date          157
dtype: int64

## Create a new Hotel DataFrame (Copy of Preferred City DF)

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1   Cap Malheureux      MU     76.46 -19.9842   57.6142
2         Bengkulu      ID     77.68  -3.8004  102.2655
3           Avarua      CK     78.85 -21.2078 -159.7750
14   Marsh Harbour      BS     77.09  26.5412  -77.0636
18           Kapaa      US     79.12  22.0752 -159.3190
23       Contamana      PE     80.55  -7.3333  -75.0167
25       Taoudenni      ML     76.08  22.6783   -3.9836
26        Lorengau      PG     83.79  -2.0226  147.2712
27          Atuona      PF     78.60  -9.8000 -139.0333
29            Hilo      US     80.33  19.7297 -155.0900

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.

# Grab the first hotel from the results and store the name.
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
     print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Cap Malheureux,MU,76.46,-19.9842,57.6142,Pereybere Hotel & Spa
2,Bengkulu,ID,77.68,-3.8004,102.2655,Grage Hotel Bengkulu
3,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
14,Marsh Harbour,BS,77.09,26.5412,-77.0636,Abaco Beach Resort
18,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
23,Contamana,PE,80.55,-7.3333,-75.0167,Shiringal Touristic Park
25,Taoudenni,ML,76.08,22.6783,-3.9836,
26,Lorengau,PG,83.79,-2.0226,147.2712,Lorengau Harbourside Hotel
27,Atuona,PF,78.60,-9.8000,-139.0333,Villa Enata
29,Hilo,US,80.33,19.7297,-155.0900,Hilo Hawaiian Hotel

## Create Maximum Temp Heat Map

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Infobox Code

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))